.movie-list{
    margin: 100px 0;
}
.movie-list::before{
    content: '';
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../../../public/images/home__bg.jpg) no-repeat center / cover;
    opacity: 0.1;
}
.movie-list .movie-item ul li{
    width: 20%;
    padding: 10px;
}